<h1>Réservation annulée</h1>

<p>Bonjour {{ recipientEmail }},</p>

<p>
    Votre réservation pour <strong>{{ sessionTitle }}</strong> a été annulée
    car elle n'a pas été confirmée à temps.
</p>

<p>
    Date/heure : {{ sessionStart }}
</p>

<p>
    Si vous souhaitez réserver à nouveau, merci de refaire une demande.
</p>
