<h1>Welcome to Surf School!</h1>

<p>Bonjour {{ recipientEmail }},</p>

<p>
    Merci pour votre inscription. Cliquez sur le lien ci-dessous pour confirmer votre compte :
</p>

<p>
    <a href="{{ verificationUrl }}">{{ verificationUrl }}</a>
</p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorez simplement ce message.</p>
